<a href="https://www.kaggle.com/code/bsaimukeshreddy/qsranking?scriptVersionId=106274790" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/world-university-rankings-202223/2023 QS World University Rankings.csv

To load data using pandas

In [2]:
data = pd.read_csv('../input/world-university-rankings-202223/2023 QS World University Rankings.csv')

EDA

In [3]:
data.head()

,Rank,institution,location code,location,ar score,ar rank,er score,er rank,fsr score,fsr rank,...,cpf rank,ifr score,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,score scaled
0,1,Massachusetts Institute of Technology (MIT),US,United States,100.0,5,100.0,4,100.0,14,...,5,100.0,54,90.0,109,96.1,58,100.0,3,100
1,2,University of Cambridge,UK,United Kingdom,100.0,2,100.0,2,100.0,11,...,55,100.0,60,96.3,70,99.5,6,100.0,9,98.8
2,3,Stanford University,US,United States,100.0,4,100.0,5,100.0,6,...,9,99.8,74,60.3,235,96.3,55,100.0,2,98.5
3,4,University of Oxford,UK,United Kingdom,100.0,3,100.0,3,100.0,8,...,64,98.8,101,98.4,54,99.9,3,100.0,7,98.4
4,5,Harvard University,US,United States,100.0,1,100.0,1,99.4,35,...,2,76.9,228,66.9,212,100.0,1,100.0,1,97.6

In [4]:
data.describe()

,Rank,ar score,er score,fsr score,cpf score,ifr score,isr score,irn score,ger score
count,1422.000000,1422.000000,1421.000000,1420.000000,1417.000000,1324.000000,1365.000000,1409.000000,1410.000000
mean,711.500000,20.124684,20.657143,29.997113,24.529358,31.659517,26.545348,49.570121,26.186809
std,410.640354,22.802706,24.027928,28.172207,27.910952,34.170817,30.896854,30.205439,26.201036
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,356.250000,5.400000,4.400000,8.200000,3.100000,4.800000,3.300000,21.600000,6.700000
50%,711.500000,10.800000,10.300000,18.250000,11.100000,13.750000,10.800000,47.700000,15.500000
75%,1066.750000,23.775000,27.000000,43.500000,39.400000,55.075000,40.500000,77.600000,36.900000
max,1422.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [5]:
uniqueLocations = data['location'].unique
uniqueLocations

<bound method Series.unique of 0        United States
1       United Kingdom
2        United States
3       United Kingdom
4        United States
             ...
1417          Honduras
1418          Colombia
1419           Morocco
1420           Romania
1421           Romania
Name: location, Length: 1422, dtype: object>

In [6]:
first100 = data.head(100)
first100

,Rank,institution,location code,location,ar score,ar rank,er score,er rank,fsr score,fsr rank,...,cpf rank,ifr score,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,score scaled
0,1,Massachusetts Institute of Technology (MIT),US,United States,100.0,5,100.0,4,100.0,14,...,5,100.0,54,90.0,109,96.1,58,100.0,3,100
1,2,University of Cambridge,UK,United Kingdom,100.0,2,100.0,2,100.0,11,...,55,100.0,60,96.3,70,99.5,6,100.0,9,98.8
2,3,Stanford University,US,United States,100.0,4,100.0,5,100.0,6,...,9,99.8,74,60.3,235,96.3,55,100.0,2,98.5
3,4,University of Oxford,UK,United Kingdom,100.0,3,100.0,3,100.0,8,...,64,98.8,101,98.4,54,99.9,3,100.0,7,98.4
4,5,Harvard University,US,United States,100.0,1,100.0,1,99.4,35,...,2,76.9,228,66.9,212,100.0,1,100.0,1,97.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,The University of Sheffield,UK,United Kingdom,58.7,122,53.5,155,59.4,264,...,284,85.3,199,97.8,61,94.7,79,33.7,376,59.5
96,97,University of St Andrews,UK,United Kingdom,46.2,175,67.6,106,61.1,249,...,209,98.8,100,99.7,35,83.4,265,44.1,292,59.5
97,98,"Trinity College Dublin, The University of Dublin",IE,Ireland,67.9,95,48.2,187,25.7,573,...,199,99.8,73,93.3,92,87.3,206,97.9,32,59.1
98,99,Sungkyunkwan University(SKKU),KR,South Korea,60.2,115,72.7,90,83.9,115,...,368,18.9,592,38.7,354,58.8,582,33.9,375,58.9
99,100,Rice University,US,United States,38.8,218,26.1,366,69.5,189,...,82,90.0,174,92.6,100,57.2,601+,70.7,133,58.8

no of universities in india

In [7]:
data = data[data['location code'].isin(['IN'])]
data['location code'].value_counts()
data.head(10)

,Rank,institution,location code,location,ar score,ar rank,er score,er rank,fsr score,fsr rank,...,cpf rank,ifr score,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,score scaled
155,156,Indian Institute of Science,IN,India,37.6,223,22.9,416,56.3,276,...,1,11.7,601+,1.9,601+,46.0,601+,14.8,601+,49.5
171,172,Indian Institute of Technology Bombay (IITB),IN,India,53.3,145,86.5,59,25.8,572,...,228,3.9,601+,1.6,601+,58.0,593,76.7,115,46.7
174,175,Indian Institute of Technology Delhi (IITD),IN,India,49.0,161,79.2,72,27.7,543,...,176,2.6,601+,1.7,601+,42.2,601+,84.8,84,46.5
249,250,Indian Institute of Technology Madras (IITM),IN,India,38.0,222,58.3,134,27.6,550,...,213,2.8,601+,1.4,601+,41.4,601+,76.1,118,38.6
263,264,Indian Institute of Technology Kanpur (IITK),IN,India,32.6,259,49.3,179,17.4,601+,...,114,2.3,601+,1.2,601+,25.9,601+,73.8,124,37.6
269,270,Indian Institute of Technology Kharagpur (IIT-...,IN,India,30.2,285,48.3,185,13.0,601+,...,85,3.7,601+,1.1,601+,52.4,601+,65.6,166,37.2
370,371,Indian Institute of Technology Roorkee (IITR),IN,India,16.0,501+,23.9,402,9.6,601+,...,47,1.1,601+,2.5,601+,35.6,601+,18.4,601+,29.9
383,384,Indian Institute of Technology Guwahati (IITG),IN,India,15.1,501+,16.9,501+,9.5,601+,...,37,3.4,601+,1.3,601+,36.6,601+,23.5,514,29.3
395,396,Indian Institute of Technology Indore (IIT Ind...,IN,India,4.7,501+,4.3,501+,42.1,369,...,70,2.5,601+,NaN,NaN,23.8,601+,37.2,352,28.7
529,530,University of Delhi,IN,India,34.2,250,31.9,308,4.5,601+,...,460,1.5,601+,1.9,601+,70.8,451,92.0,57,-

In [8]:
LAST10 = data.head(10)